In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import os

os.listdir('대기질데이터')

['_2022pm_7_12_.csv', '_2023pm_1_6.csv', '_2023pm_7_12.csv', '_2022pm_1_6.csv']

In [2]:
file_path = []
for file in os.listdir('대기질데이터'):
    file_path.append('대기질데이터/'+file)

df1 = pd.read_csv(file_path[0])
df2 = pd.read_csv(file_path[1])
df3 = pd.read_csv(file_path[2])
df4 = pd.read_csv(file_path[3])

In [7]:
df1.isnull().sum(), df2.isnull().sum()

(측정일자        0
 측정시간        0
 지역          0
 SO2     26844
 CO      33666
 O3      24169
 NO2     25482
 PM10    32585
 PM25    36570
 dtype: int64,
 측정일자        0
 측정시간        0
 지역          0
 SO2     30068
 CO      33234
 O3      26848
 NO2     29637
 PM10    29156
 PM25    32758
 dtype: int64)

In [6]:
df3.isnull().sum(), df4.isnull().sum()

(측정일자        0
 측정시간        0
 지역          0
 SO2     36311
 CO      41118
 O3      31569
 NO2     33159
 PM10    39149
 PM25    41181
 dtype: int64,
 측정일자        0
 측정시간        0
 지역          0
 SO2     22856
 CO      25654
 O3      26927
 NO2     22143
 PM10    26661
 PM25    28065
 dtype: int64)

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897744 entries, 0 to 897743
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   측정일자    897744 non-null  object
 1   측정시간    897744 non-null  int64
 2   지역      897744 non-null  object
 3   SO2     870900 non-null  float64
 4   CO      864078 non-null  float64
 5   O3      873575 non-null  float64
 6   NO2     872262 non-null  float64
 7   PM10    865159 non-null  float64
 8   PM25    861174 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 61.6+ MB

In [34]:
df1[df1.isnull().any(axis=1)]

              측정일자  측정시간      지역     SO2   CO     O3     NO2  PM10  PM25
63      2022-07-03    16   서울 중구  0.0040  0.3  0.090  0.0090   NaN  34.0
64      2022-07-03    17   서울 중구  0.0040  0.2  0.071  0.0070   NaN  28.0
67      2022-07-03    20   서울 중구  0.0040  0.2  0.048  0.0100   NaN  26.0
115     2022-07-05    20   서울 중구  0.0030  0.2  0.063  0.0150   NaN  31.0
145     2022-07-07     2   서울 중구  0.0030  0.2  0.020  0.0130  11.0   NaN
...            ...   ...     ...     ...  ...    ...     ...   ...   ...
897568  2022-12-24    17  인천 옹진군  0.0019  0.3  0.036  0.0044  17.0   NaN
897612  2022-12-26    13  인천 옹진군  0.0019  0.3  0.034  0.0066   NaN   NaN
897613  2022-12-26    14  인천 옹진군     NaN  NaN    NaN     NaN   NaN   NaN
897614  2022-12-26    15  인천 옹진군     NaN  NaN    NaN     NaN  19.0  10.0
897624  2022-12-27     1  인천 옹진군  0.0013  0.3  0.037  0.0024  15.0   NaN

[74701 rows x 9 columns]

In [23]:
df1[df1.isnull().any(axis=1)]['지역'].unique()

array(['서울 중구', '서울 용산구', '서울 종로구', '서울 광진구', '서울 성동구', '서울 중랑구',
       '서울 동대문구', '서울 성북구', '서울 도봉구', '서울 은평구', '서울 서대문구', '서울 마포구',
       '서울 강서구', '서울 구로구', '서울 영등포구', '서울 동작구', '서울 관악구', '서울 강남구',
       '서울 서초구', '서울 송파구', '서울 강동구', '서울 금천구', '서울 강북구', '서울 양천구',
       '서울 노원구', '경기 수원시', '경기 성남시', '경기 의정부시', '경기 안양시', '경기 광명시',
       '경기 안산시', '경기 과천시', '경기 구리시', '경기 의왕시', '경기 시흥시', '경기 남양주시',
       '경기 평택시', '경기 파주시', '경기 고양시', '경기 광주시', '경기 용인시', '경기 이천시',
       '경기 포천시', '경기 김포시', '경기 군포시', '경기 오산시', '경기 하남시', '경기 화성시',
       '경기 양주시', '경기 동두천시', '경기 안성시', '경기 여주시', '경기 연천군', '경기 가평군',
       '경기 양평군', '인천 중구', '인천 동구', '인천 남동구', '인천 미추홀구', '인천 부평구', '인천 서구',
       '인천 계양구', '인천 강화군', '인천 연수구', '경기 부천시', '인천 옹진군'], dtype=object)

In [45]:
def interpolate_every_24_rows(df, method='linear', limit_direction='both'):
    interpolated_df_list = []

    for i in range(0, len(df), 24):
        chunk = df.iloc[i:i+24]
        interpolated_chunk = chunk.interpolate(method=method, axis=0, limit_direction=limit_direction)
        interpolated_chunk = interpolated_chunk.interpolate(method='linear', axis=0, limit_direction=limit_direction)
        
        interpolated_df_list.append(interpolated_chunk)
    
    # 보간법이 적용된 모든 청크를 결합
    interpolated_df = pd.concat(interpolated_df_list, axis=0)
    interpolated_df = interpolated_df.interpolate(method='linear', axis=0, limit_direction=limit_direction)
    
    return interpolated_df

interpolated_df1 = interpolate_every_24_rows(df1)
interpolated_df2 = interpolate_every_24_rows(df2)
interpolated_df3 = interpolate_every_24_rows(df3)
interpolated_df4 = interpolate_every_24_rows(df4)

In [39]:
interpolated_df1.isnull().sum()

측정일자    0
측정시간    0
지역      0
SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64

In [ ]:
interpolated_df1.to_csv(file_path[0], encoding='utf-8')
interpolated_df1.to_csv(file_path[1], encoding='utf-8')
interpolated_df1.to_csv(file_path[2], encoding='utf-8')
interpolated_df1.to_csv(file_path[3], encoding='utf-8')